* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, #aa6060, #924A4A, #753232);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 350px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.login-form h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 18px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #aaa;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 0;
    font-size: 14px;
    color: #fff;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    color: #fff;
    font-size: 14px;
}

.remember-forgot a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #753232;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #924A4A;
}

.register-link p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #080111;
    text-decoration: none;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}